
<div class="container-fluit">
  <div class="row">
    <div class="col s12 push-s1">
      <div class="row">
        <div class="col m7 hide-on-small-and-down logo">

          <img src="../../assets/logo2.png" class="img-responsive" alt="Image">

        </div>

        <div class="col s12 m5">
          <div class="row">
            <div class="signin-box">
              <h1 class="title">Restablecer Contraseña</h1>
              <form action="" class="signin-form">
                <h2 class="description">Olvidaste tu contraseña, no te preocupes aqui puedes restablicerla</h2>
                <div class="divider"></div>

                <div class="section">
                  <input type="email" name="" placeholder="Correo Electrónico">
                  <input type="email" name="" placeholder="Confirmar Correo Electrónico">

                  <button type="submit" class="btn waves-effect waves-light btn-large btn-signin">Enviar</button>
                </div>
              </form>
            

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

