<div class="container-fluit">
  <div class="row">
    <div class="col s12 push-s1">
      <div class="row">
        <div class="col m7 hide-on-small-and-down logo">

          <img src="../../assets/logo2.png" class="img-responsive" alt="Image">

        </div>

        <div class="col s12 m5">
          <div class="row">
            <div class="signin-box">
              <h1 class="title">Ingresar Aquí</h1>
              <form ngNativeValidate [formGroup]="formulario_signin" (ngSubmit)="loginUser()" class="signin-form">
                <h2 class="description">Ingresa para que puedas monitorear tus cultivos desde la aplicación</h2>
                <div class="divider"></div>

                <div class="section">
                  <input formControlName="correo" type="email" name="correo" placeholder="Correo Electrónico" required>
                  <input formControlName="password" type="password" name="password" placeholder="Contraseña" required>

                  <button type="submit" class="btn waves-effect waves-light btn-large btn-signin">Ingresar</button>
                </div>
              </form>
              <div class="restet">
                ¿Olvidaste Tú contraseña?<a [routerLink]="['/recover']">Restablecer</a>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="login-box">
              ¿ No Tienes Una cuenta?<a routerLink="/signup">Regístrate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large pulse green">
    <i mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'menu'" [size]="'24px'"></i>
  </a>
  <ul>
<li><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn-floating red"> <i mz-icon-mdi [align]="'left'"
      [flip]="'h'" [icon]="'home-outline'" [size]="'24px'"></i></a></li>
    <li><a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="btn-floating yellow darken-1">
<i class="prefix" mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'account-arrow-right-outline'" [size]="'24px'"></i></a></li>
    <li>
      <a [routerLink]="['/contacts']" routerLinkActive="router-link-active" class="btn-floating blue">
        <i mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'contacts'" [size]="'24px'">

        </i>
      </a></li>

  </ul>
</div>
