<footer class="green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">¿Quienes somos?</h5>
        <p class="grey-text text-lighten-4">
          Somos estudiantes de ingeniería de Sistemas, nuestra prioridad
          es mejorar en lo posible el sistema agricola, motivando a la utilización de las tecnologías de la
          información,
          queremos poner un grano de arena y ayudar a los agricultores en la toma de desiciones


        </p>
      </div>
<div class="col l6 s12">
  <h5 class="white-text">Servicios</h5>
  <p class="grey-text text-lighten-4">
    Instalamos el equipo en la zona que el cliente desee, ofrecemos capacitaciones,
    seguimiento al funcionamiento de los equipos garantizamos nuestro trabajo,para
    una mayor confianza en nuestra clientela 

  </p>
</div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container">
      © 2018 Copyright
    </div>
  </div>
</footer>
