<div class="container-contacts">
  <div class="row">
    <div class="col s10 push-s1 m6 offset-m3">

      <div class="title-contacts">
        <h1>En este formulario puedes enviarnos tus inquietudes</h1>
      </div>
      <div class="divider"></div>
      <form>


        <div class="section">
          <div class="input-field col s12">

            <input type="text" name="codigo" placeholder="Codigo Producto:">

          </div>

          <div class="input-field col s12">

            <input type="text" name="nombre_producto" placeholder="Nombre Producto:">

          </div>
          <div class="input-field col s12">

            <input type="text" name="Precio" placeholder="Precio Producto:">

          </div>




          <button class="btn waves-effect waves-light green btn-send " type="submit" name="action">Enviar

          </button>


        </div>

      </form>
    </div>
  </div>
</div>
