<div class="container-fluit">
  <div class="row">
    <div class="col s12 push-s1">
      <div class="row">
        <div class="col m7 hide-on-small-and-down logo">

          <img src="../../assets/logotipo2.png" class="img-responsive" alt="Image">

        </div>

        <div class="col s12 m5">
          <div class="row">
            <div class="signin-box">
              <h1 class="title">Regístrate Aquí</h1>
              <form ngNativeValidate [formGroup]="formulario_signup" (ngSubmit)="registrarUsuario()" class="signin-form">
                <h2 class="description">Regístrate y disfruta de nuestros servicios</h2>
                <div class="divider"></div>

                <div class="section">
                  <input formControlName="cedula" type="text" name="cedula" placeholder="Número de cocumento" required>
                  <input formControlName="primer_nombre" type="text" name="nombre1" placeholder="Primer Nombre" required>
                  <input formControlName="segundo_nombre" type="text" name="nombre2" placeholder="Segundo Nombre:" >
                  
                  <input formControlName="primer_apellido" type="text" name="apellido1" placeholder="Primer Apellido" required>
                  <input formControlName="segundo_apellido" type="text" name="apellido2" placeholder="Segundo Apellido">
                  <input formControlName="telefono" type="text" name="telefono" placeholder="Numero de Contacto">
                  <input formControlName="correo" type="email" name="correo" placeholder="Correo Electrónico" required>
                  <input formControlName="password" type="password" name="" placeholder="Contraseña">

                  <button type="submit" class="btn waves-effect waves-light btn-large btn-signin">Ingresar</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large pulse green">
    <i mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'menu'" [size]="'24px'"></i>
  </a>
  <ul>
    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn-floating red">
<i class="prefix" mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'home-outline'" [size]="'24px'"></i>
    
    </a></li>
    <li><a [routerLink]="['/signin']" routerLinkActive="router-link-active" class="btn-floating yellow darken-1">
<i  mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'login-variant'" [size]="'24px'"></i>
    </a></li>
    <li>
      <a [routerLink]="['/contacts']" routerLinkActive="router-link-active" class="btn-floating blue">
        <i mz-icon-mdi [align]="'left'" [flip]="'h'" [icon]="'contacts'" [size]="'24px'">

        </i>
      </a></li>

  </ul>
</div>
