


<div class="container-fluit">
  <div class="row">
    <div class="col s12 push-s1">
      <div class="row">
        <div class="col m7 hide-on-small-only logo">

          <img src="../../assets/logo2.png" class="img-responsive" alt="Image">

        </div>

        <div class="col s12 m5">
          <div class="row">
            <div class="signin-box">
              <h1 class="title">Ingresar Aquí</h1>
              <form action="" class="signin-form">
                <h2 class="description">
                  Regístrate para que disfrutes de una aplicación
                  que te ayudará a tomar buenas decisiones al momento de sembrar.

                </h2>
                <div class="divider"></div>

                <div class="section">
                  <input type="text" name="" placeholder="Nombre">
                  <input type="email" name="" placeholder="Apellido">
                  <input type="text" name="" placeholder="Nombre de Usuario">
                  <input type="email" name="" placeholder="Correo Electrónico">
                  <input type="password" name="" placeholder="Contraseña">

                  <button type="submit" class="btn waves-effect waves-light btn-large btn-signin">Regístrate</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
